@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 98%; /* #F9FAFC */
    --foreground: 240 10% 3.9%; /* #0A0A0A */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 240 10% 3.9%; /* #0A0A0A */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 240 10% 3.9%; /* #0A0A0A */
    --primary: 262 84% 59%; /* #6A3FF4 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary: 240 4.8% 95.9%; /* #F4F4F5 */
    --secondary-foreground: 240 5.9% 10%; /* #1A1A1A */
    --muted: 240 4.8% 95.9%; /* #F4F4F5 */
    --muted-foreground: 240 3.8% 46.1%; /* #71717A */
    --accent: 142 71% 45%; /* #22C55E */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */
    --destructive: 0 84.2% 60.2%; /* #F43F5E */
    --destructive-foreground: 0 0% 98%; /* #FAFAFA */
    --border: 240 5.9% 90%; /* #E4E4E7 */
    --input: 240 5.9% 90%; /* #E4E4E7 */
    --ring: 262 84% 59%; /* #6A3FF4 */
    --radius: 0.5rem;
    --success: 142 71% 45%; /* #22C55E */
    --success-foreground: 0 0% 100%; /* #FFFFFF */
  }

  .dark {
    --background: 240 10% 3.9%; /* #0A0A0A */
    --foreground: 0 0% 98%; /* #FAFAFA */
    --card: 240 3.7% 15.9%; /* #27272A */
    --card-foreground: 0 0% 98%; /* #FAFAFA */
    --popover: 240 3.7% 15.9%; /* #27272A */
    --popover-foreground: 0 0% 98%; /* #FAFAFA */
    --primary: 262 84% 69%; /* #8B63F7 */
    --primary-foreground: 240 10% 3.9%; /* #0A0A0A */
    --secondary: 240 3.7% 15.9%; /* #27272A */
    --secondary-foreground: 0 0% 98%; /* #FAFAFA */
    --muted: 240 3.7% 15.9%; /* #27272A */
    --muted-foreground: 240 5% 64.9%; /* #A1A1AA */
    --accent: 142 71% 55%; /* #34D399 */
    --accent-foreground: 240 10% 3.9%; /* #0A0A0A */
    --destructive: 0 62.8% 30.6%; /* #991B1B */
    --destructive-foreground: 0 0% 98%; /* #FAFAFA */
    --border: 240 3.7% 15.9%; /* #27272A */
    --input: 240 3.7% 15.9%; /* #27272A */
    --ring: 262 84% 69%; /* #8B63F7 */
    --success: 142 71% 55%; /* #34D399 */
    --success-foreground: 240 10% 3.9%; /* #0A0A0A */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
